.site-page-header {
    width: 95%;
    height: 80px;
    font-family: roboto;
    font-size: 18px;
    background: rgb(227, 225, 225);
    border-radius: 5px;
    margin: auto;
}
nz-page-header-title{
    font-family: raleway;
    font-size: 22px;
}
.site-page-crumb {
    font-family: roboto;
    font-style: italic;
    font-size: 12px;
}

.main-holder {
    margin-top: 5px;
}

nz-page-header {
    color: white
}

nz-empty {
    font-family: 30px;
}

.cardbody {
    margin-bottom: 10px;
}

.titleTemplate {
    font-family: raleway;
    font-size: 25px;
    color: rgb(49, 49, 49);
}

.genderSpan {
    text-transform: capitalize;
}

.profile-picture-container {
    height: 120px;
    display: flex;
    justify-content: center;
}

.profile-picture {
    height: inherit;
    width: 130px;
    border-radius: 50%;
    background: whitesmoke;
}

.name-row {
    font-family: raleway;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    width: 100%
}

nz-card {
    border-radius: 19px;
}
nz-list{
    background: inherit;
}

nz-list-item-meta-avatar{
    border: 1px solid red;
}

.profile-span{
    display: block;
    font-family: raleway;
    font-size: 18px;
}

.label{
    font-size: inherit;
}