.logo {
  width: 120px;
  height: 31px;
  /*background: rgba(255, 255, 255, 0.2);*/
  margin-top: 0;
  margin-bottom: 24px;
  float: left;
}

.logout-pane {
  line-height: 64px;
  background: inherit;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  font-family: Mulish;
  font-style: normal;
  letter-spacing: -0.408px;
}

.logout-pane > span {
  cursor: pointer;
}
.logout-pane > span:hover {
  background: linear-gradient(145deg);

box-shadow: 5px 5px 10px #cbced1;
  transition: box-shadow 0.3s ease; /* Add transition for smooth effect */

}

ul {
  float: right;
}

nz-header {
  background: olive;
  display: flex;
  justify-content: space-between;
}
