<nz-content>
    <app-header></app-header>

    <div class="inner-content">
        <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Add A Customer">
        </nz-page-header>

        <nz-divider></nz-divider>

        <div nz-row>
            <div nz-col nzSpan="3"></div>
            <div nz-col class="" nzSpan="18">
                <form nz-form [nzLayout]="'vertical'" [formGroup]="addCustomer" class="container"
                    (ngSubmit)="submitCustomer()">
                    <div nz-row>
                        <div nz-col nzSpan="7">
                            <label>Firstname :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input Customer Firstname!">
                                    <input nzSize="large" type="text" nz-input formControlName="firstname"
                                        id="firstname" placeholder="Firstname" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="1">
                        </div>
                        <div nz-col nzSpan="7">
                            <label>Middlename :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input Customer Middlename!">
                                    <input nzSize="large" type="text" nz-input formControlName="middlename"
                                        id="middlename" placeholder="Middlename" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="8">
                            <label>Surname :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input Customer Surname!">
                                    <input nzSize="large" type="text" nz-input formControlName="surname" id="surname"
                                        placeholder="Surname" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </div>

                    <div nz-row>
                        <div nz-col nzSpan="11">
                            <label>Gender :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Select Gender!">
                                    <nz-select nzSize="large" formControlName="gender" id="gender"
                                        nzPlaceHolder="Select Customer's Gender">
                                        <nz-option [nzLabel]="'Male'" [nzValue]="'male'"></nz-option>
                                        <nz-option [nzLabel]="'Female'" [nzValue]="'female'"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="2">
                        </div>
                        <div nz-col nzSpan="11">
                            <label>Phone Number :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="input Customer's Phone Number!">
                                    <input nzSize="large" type="number" nz-input id="phone" formControlName="phone"
                                        placeholder="Customer's Phone Number" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>


                    <div nz-row>
                        <div nz-col nzSpan="11">
                            <label>Customer's Address :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input customer's address!">
                                    <textarea nz-input formControlName="address" id="address" required
                                        placeholder="Enter Customer's Address" nzAutosize></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="2">
                        </div>
                        <div nz-col nzSpan="11">
                            <label>Email Address :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input customer's email address!">
                                    <input nzSize="large" type="text" nz-input formControlName="email" id="email"
                                        placeholder="Email Address" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div nz-row>
                        <div nz-col nzSpan="7">
                            <label>Bank Name :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input customer's bank!">
                                    <input nzSize="large" type="text" nz-input formControlName="bank_name"
                                        id="bank_name" placeholder="Customer's Bank" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="1">
                        </div>
                        <div nz-col nzSpan="7">
                            <label>Account Number :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input a valid account number">
                                    <input nzSize="large" type="text" nz-input formControlName="bank_account_number"
                                        id="bank_account_number" placeholder="Customer's Account Number" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="8">
                            <label>Account Type :</label>
                            <nz-form-item>
                                <nz-form-control nzErrorTip="Please input Customer Surname!">
                                    <nz-select nzSize="large" formControlName="bank_account_type"
                                        nzPlaceHolder="Select Customer's Account Type.">
                                        <nz-option [nzLabel]="'Savings Account'" [nzValue]="'Savings'"></nz-option>
                                        <nz-option [nzLabel]="'Current Account'" [nzValue]="'Current'"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </div>

                    <div>
                        <button nzBlock nz-button nzType="primary" [nzLoading]="isUpdating">
                            <i nz-icon nzType="user-add" nzTheme="outline"></i>
                            Add Customer
                        </button>
                    </div>

                </form>
            </div>
            <div nz-col nzSpan="3"></div>
        </div>

    </div>

    <app-footer></app-footer>
</nz-content>