<div *ngIf="spin === true">
    <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
</div>
<div *ngIf="spin === false">
        <nz-page-header [nzGhost]="false" class="site-page-header" nzSubtitle="">
            <nz-page-header-title *ngIf="staffDetails.firstname">Edit {{staffDetails.firstname}} {{staffDetails.surname}}'s
                Profile</nz-page-header-title>
            <nz-breadcrumb class="site-page-crumb" nz-page-header-breadcrumb>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/','admin-home']">Home</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                    <a [routerLink]="['/','admin-home','manage-staff']">All Staff</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="staffDetails">Edit {{staffDetails.firstname}} {{staffDetails.surname}}'s Profile
                </nz-breadcrumb-item>
            </nz-breadcrumb>
        </nz-page-header><br>
        <nz-divider></nz-divider><br>
    
        <div nz-row class="body-all">
            <div style="padding:12px;" nz-col nzSpan="14">
                <div class="profile-row">
                    <div class="profile-div">
                        <img class="profile-image" [src]="imgSource">
                    </div>
                </div>
    
                <div class="staff-details">
                    <div class="staff-form-div">
                        <form nz-form [formGroup]="editForm" class="" (ngSubmit)="submitForm()">
                            <div nz-row>
                                <div nz-col nzSpan="7">
                                    <label>Firstname :</label>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Please input Employee Firstname!">
                                            <input (ngModelChange)="doUsername($event)" nzSize="large" type="text" nz-input
                                                formControlName="firstname" id="firstname" placeholder="Firstname"
                                                required />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="1">
                                </div>
                                <div nz-col nzSpan="7">
                                    <label>Middlename :</label>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Please input Employee Middlename!">
                                            <input nzSize="large" type="text" nz-input formControlName="middlename"
                                                id="middlename" placeholder="Middlename" required />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="1"></div>
                                <div nz-col nzSpan="7">
                                    <label>Surname :</label>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Please input Employee Surname!">
                                            <input (ngModelChange)="doUsername($event)" nzSize="large" type="text" nz-input
                                                formControlName="surname" id="surname" placeholder="Surname" required />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
    
                            </div>
    
                            <div nz-row>
                                <div nz-col nzSpan="11">
                                    <label>Username :</label>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Please input Employee Surname!">
                                            <input readonly nzSize="large" type="text" nz-input
                                                formControlName="username" id="username" placeholder="Username" required />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="2">
                                </div>
                                <div nz-col nzSpan="11">
                                    <label>Phone Number :</label>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Please input Employee Phone Number!">
                                            <input nzSize="large" type="text" nz-input formControlName="phone" id="phone"
                                                placeholder="Phone Number" required />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
    
                            <div nz-row>
                                <div nz-col nzSpan="11">
                                    <label>D.o.B :</label>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Select Date!">
                                            <nz-date-picker style="width: 100%;" nzSize="large" formControlName="dob"
                                                required id="dob"></nz-date-picker>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="2">
                                </div>
                                <div nz-col nzSpan="11">
                                    <label>Gender :</label>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Select Gender!">
                                            <nz-select nzSize="large" formControlName="gender" id="gender"
                                                nzPlaceHolder="Select Employee's Gender">
                                                <nz-option [nzLabel]="'Male'" [nzValue]="'male'"></nz-option>
                                                <nz-option [nzLabel]="'Female'" [nzValue]="'female'"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
    
                            <div nz-row>
                                <div nz-col nzSpan="11">
                                    <label>Address :</label>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Please input Employee Address!">
                                            <textarea nz-input formControlName="address" id="address" required
                                                placeholder="Enter Address" nzAutosize></textarea>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="2">
                                </div>
                                <div nz-col nzSpan="11">
                                    <label>Email Address :</label>
                                    <nz-form-item>
                                        <nz-form-control nzErrorTip="Please input Employee Email Address!">
                                            <input nzSize="large" type="text" nz-input formControlName="email" id="email"
                                                placeholder="Email Address" required />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
    
                            <div>
                                <button nzBlock nz-button nzType="primary" [nzLoading]="isUpdating">
                                    <i nz-icon nzType="sync" nzTheme="outline"></i>
                                    Update Profile
                                  </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          
            <nz-divider style="height: inherit;" nzType="vertical"></nz-divider>
          
            <div style="padding:12px;" nz-col nzSpan="8">
                <div class="login-list-head">
                    <h2>{{staffDetails.firstname}}'s Recent Logins</h2>
                    <h6><i nz-icon nzType="calendar" nzTheme="outline"></i>Date Employed: {{staffDetails.date_joined}}</h6>
                </div>
    
                <div class="login-list-body">
                    <nz-list nzBordered nzItemLayout="horizontal">
                        <nz-list-item style="border-bottom: 1px solid rgb(203, 203, 203);" *ngFor="let item of loginData">
                            <nz-list-item-meta nzAvatar="{{imgSource}}"
                                nzDescription="{{item.date}}">
                                <nz-list-item-meta-title>
                                    <i nz-icon nzType="clock-circle" nzTheme="outline"></i>&nbsp;{{item.time}}
                                </nz-list-item-meta-title>
                            </nz-list-item-meta>
                        </nz-list-item>
                        <nz-list-empty *ngIf="loadLogin === false"></nz-list-empty>
                    </nz-list>
                </div>
            </div>
    
        </div>
    
</div>