<!-- <form nz-form [nzLayout]="'vertical'" [formGroup]="addCustomer" class="container" (ngSubmit)="submitCustomer()">
  <nz-form-item>
      <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstname">Firstname
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input Customer's firstname!">
          <nz-input-group nzSize="default">
              <input type="text" nz-input formControlName="firstname" id="firstname"
                  placeholder="Customer's Firstname" />
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzFor="middlename">Middlename
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input customer middlename!">
          <nz-input-group nzSize="default">
              <input type="text" nz-input formControlName="middlename" id="middlename"
                  placeholder="Customer's Middlename" />
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstname">Surname
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input customer surname">
          <nz-input-group nzSize="default">
              <input type="text" nz-input formControlName="surname" id="surname"
                  placeholder="Customer's Surname" />
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
      <nz-form-control nzErrorTip="Select Gender!">
        <nz-select nzSize="default" formControlName="gender" id="gender" nzPlaceHolder="Select Customer's Gender">
          <nz-option [nzLabel]="'Male'" [nzValue]="'male'"></nz-option>
          <nz-option [nzLabel]="'Female'" [nzValue]="'female'"></nz-option>
        </nz-select>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="phone">Phone Number</nz-form-label>
      <nz-form-control>
        <nz-input-group nzSize="default">
          <input type="number" nz-input id="phone" formControlName="phone"
            placeholder="Customer's Phone Number" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstname">Customer's Address
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input customer's address">
          <nz-input-group nzSize="default">
              <input type="textarea" nz-input formControlName="address" id="address"
                  placeholder="Customer's Address" />
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email Address
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input customer's email">
          <nz-input-group nzSize="default">
              <input type="text" nz-input formControlName="email" id="email"
                  placeholder="Customer's Email Address" />
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="bank_name">Bank Name
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input customer's bank">
          <nz-input-group nzSize="default">
              <input type="text" nz-input formControlName="bank_name" id="bank_name"
                  placeholder="Customer's Bank" />
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstname">Account Number
      </nz-form-label>
      <nz-form-control nzErrorTip="Please input a valid account number">
          <nz-input-group nzSize="default">
              <input type="text" nz-input formControlName="bank_account_number" id="bank_account_number"
                  placeholder="Customer's Account Number" />
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="bank_account_type">Account Type
      </nz-form-label>
      <nz-form-control nzErrorTip="Please Select Account Type">
          <nz-input-group nzSize="default">
              <nz-select nzSize="default" formControlName="bank_account_type" nzPlaceHolder="Select Customer's Account Type.">
                  <nz-option [nzLabel]="'Savings Account'" [nzValue]="'Savings'"></nz-option>
                  <nz-option [nzLabel]="'Current Account'" [nzValue]="'Current'"></nz-option>
                </nz-select>
          </nz-input-group>
      </nz-form-control>
  </nz-form-item>


    <div nz-row>
      <div nz-col nzSpan="0"></div>
      <div class="form-button-container"nz-col nzSpan="24">
          <button [nzSize]="'large'" [nzShape]="'round'"nz-button class="form-button btn-grad" [nzType]="'primary'"><i nz-icon nzType="user-add" nzTheme="outline"></i>&nbsp;&nbsp;R e g i s t e r&nbsp;&nbsp;&nbsp;C u s t o m e r</button>
      </div>
      <div nz-col nzSpan="0"></div>

    </div>
</form> -->