<nz-content>
  <nz-page-header [nzGhost]="false" class="site-page-header" nzSubtitle="Add A New Employee To {{company_name}}">
    <nz-breadcrumb class="site-page-crumb" nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/','admin-home']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Add Employee</nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header><br><br>
  <div nz-row class="body-all">
    <div nz-col nzSpan="3"></div>

    <div class="form-holder" nz-col nzSpan="18" nzJustify="space-around" nzAlign="middle">

      <form nz-form [nzLayout]="'horizontal'" [formGroup]="registrationForm" class="container"
        (ngSubmit)="submitForm()">
        <h2 class="form-header">Add New Employee</h2>
        <nz-divider></nz-divider>

        <div nz-row>
          <div nz-col nzSpan="7">
            <label>Firstname :</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input Employee Firstname!">
                <input (ngModelChange)="doUsername($event)" nzSize="large" type="text" nz-input
                  formControlName="firstname" id="firstname" placeholder="Firstname" required />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="1">
          </div>
          <div nz-col nzSpan="7">
            <label>Middlename :</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input Employee Middlename!">
                <input nzSize="large" type="text" nz-input formControlName="middlename" id="middlename"
                  placeholder="Middlename" required />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="1"></div>
          <div nz-col nzSpan="7">
            <label>Surname :</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input Employee Surname!">
                <input (ngModelChange)="doUsername($event)" nzSize="large" type="text" nz-input
                  formControlName="surname" id="surname" placeholder="Surname" required />
              </nz-form-control>
            </nz-form-item>
          </div>

        </div>


        <div nz-row>
          <div nz-col nzSpan="11">
            <label>Username :</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input Employee Surname!">
                <input readonly nzSize="large" type="text" nz-input formControlName="username" id="username"
                  placeholder="Username" required />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="2">
          </div>
          <div nz-col nzSpan="11">
            <label>Phone Number :</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input Employee Phone Number!">
                <input nzSize="large" type="text" nz-input formControlName="phone" id="phone" placeholder="Phone Number"
                  required />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="11">
            <label>D.o.B :</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Select Date!">
                <nz-date-picker style="width: 100%;" nzSize="large" formControlName="dob" required id="dob">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="2">
          </div>
          <div nz-col nzSpan="11">
            <label>Gender :</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Select Gender!">
                <nz-select nzSize="large" formControlName="gender" id="gender" nzPlaceHolder="Select Employee's Gender">
                  <nz-option [nzLabel]="'Male'" [nzValue]="'male'"></nz-option>
                  <nz-option [nzLabel]="'Female'" [nzValue]="'female'"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="11">
            <label>Address :</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input Employee Address!">
                <textarea nz-input formControlName="address" id="address" required placeholder="Enter Address"
                  nzAutosize></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="2">
          </div>
          <div nz-col nzSpan="11">
            <label>Email Address :</label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input Employee Email Address!">
                <input nzSize="large" type="text" nz-input formControlName="email" id="email"
                  placeholder="Email Address" required />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <label>Password :</label>
        <nz-form-item>
          <nz-form-control>
            <input readonly type="text" nz-input id="password" formControlName="password" placeholder="12345678" />
          </nz-form-control>
        </nz-form-item>

        <nz-divider></nz-divider>
        <div>
          <button nzBlock nz-button nzType="primary" [nzLoading]="isUpdating">
            <i nz-icon nzType="user-add" nzTheme="outline"></i>
            Register Employee
          </button>
        </div>
      </form>
    </div>

    <div nz-col nzSpan="3"></div>
  </div>
</nz-content>