.form-holder {
    margin-top: 5px;
}

nz-date-picker {
    width: 100%;
}

.form-button {
    font-size: 22px;
    font-weight: bold;    
}

.form-button-container{
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}


.btn-grad {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}

.btn-grad {
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: whitesmoke;
    box-shadow: 0 0 20px #eee;
    font-family: roboto;
    font-stretch: extra-expanded;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}




.form-label{
    font-family: poppins;
    font-size: 18px;
}

.site-page-header{
    font-family: roboto;
    border-radius: 15px;
    font-size: 30px;
}

.site-page-crumb{
    font-family: roboto;
    font-style: italic;
    font-size: 12px;
}