<nz-content>
  <nz-page-header [nzGhost]="false" class="site-page-header" nzSubtitle="Add A New Employee To {{company_name}}">
    <nz-breadcrumb class="site-page-crumb" nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/','admin-home']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Add Employee</nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header><br><br>
  <div nz-row class="body-all">
    <div nz-col nzSpan="3"></div>

    <div class="form-holder" nz-col nzSpan="18" nzJustify="space-around" nzAlign="middle">

      <form nz-form [nzLayout]="'horizontal'" [formGroup]="registrationForm" class="container" (ngSubmit)="submitForm()">
        <h2 class="form-header">Add New Employee</h2>
        <nz-divider></nz-divider>

        <nz-form-item>
          <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstname">Firstname</nz-form-label>
          <nz-form-control nzErrorTip="Please input employee firstname!">
            <nz-input-group nzSize="large">
              <input type="text" nz-input formControlName="firstname" id="firstname"
                placeholder="Employee's Firstname" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzFor="middlename">Middlename</nz-form-label>
          <nz-form-control nzErrorTip="Please input employee middlename!">
            <nz-input-group nzSize="large">
              <input type="text" nz-input formControlName="middlename" id="middlename"
                placeholder="Employee's Middlename" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstname">Surname</nz-form-label>
          <nz-form-control nzErrorTip="Please input employee surname">
            <nz-input-group nzSize="large">
              <input (ngModelChange)="doUsername($event)" type="text" nz-input formControlName="surname" id="surname"
                placeholder="Employee's Surname" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="form-label" class="form-label" [nzSm]="6" [nzXs]="24" nzFor="username">Username</nz-form-label>
          <nz-form-control>
            <nz-input-group nzSize="large">
              <input readonly type="text" nz-input id="username" formControlName="username" placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">Gender</nz-form-label>
          <nz-form-control nzErrorTip="Select your Gender!">
            <nz-select nzSize="large" formControlName="gender" id="gender" nzPlaceHolder="Select Employee's Gender">
              <nz-option [nzLabel]="'Male'" [nzValue]="'male'"></nz-option>
              <nz-option [nzLabel]="'Female'" [nzValue]="'female'"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="dob">Date of Birth</nz-form-label>
          <nz-form-control nzErrorTip="Select Employee's DoB!">
            <nz-date-picker formControlName="dob" [nzSize]="'large'"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">Address</nz-form-label>
          <nz-form-control>
            <nz-input-group nzSize="large">
              <input type="text" nz-input id="address" formControlName="address"
                placeholder="Employee's Residential Address" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="phone">Phone Number</nz-form-label>
          <nz-form-control>
            <nz-input-group nzSize="large">
              <input type="number" nz-input id="phone" formControlName="phone"
                placeholder="Employee's Phone Number" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email Address</nz-form-label>
          <nz-form-control>
            <nz-input-group nzSize="large">
              <input type="text" nz-input id="email" formControlName="email"
                placeholder="Employee's Email Address" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="form-label" [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">Password</nz-form-label>
          <nz-form-control>
            <nz-input-group nzSize="large">
              <input readonly  type="text" nz-input id="password" formControlName="password" placeholder="12345678" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-divider></nz-divider>
        <div nz-row>
          <div nz-col nzSpan="0"></div>
          <div class="form-button-container"nz-col nzSpan="24">
              <button [nzSize]="'large'" [nzShape]="'round'"nz-button class="form-button btn-grad" [nzType]="'primary'"><i nz-icon nzType="user-add" nzTheme="outline"></i>&nbsp;&nbsp;R e g i s t e r&nbsp;&nbsp;&nbsp;E m p l o y e e</button>
          </div>
          <div nz-col nzSpan="0"></div>
  
        </div>
      </form>
    </div>

    <div nz-col nzSpan="3"></div>
  </div>
</nz-content>