<nz-content>
  <div nz-row class="body-all">
    <div nz-col nzSpan="7"></div>

    <div class="nz-content" nz-col nzSpan="10" nzJustify="space-around" nzAlign="middle">
      <div class="logo-center">
        <app-logo [height]="40" [width]="40"></app-logo>
      </div>
      <h2 class="form-header">
        Sign in to {{company_name}}
      </h2>
      <nz-divider></nz-divider>
      <form nz-form [formGroup]="loginform" class="" (ngSubmit)="submitForm()">
        <div class="form-row">
          <label nzFor="username">Username :</label>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <input nzSize="large" type="text" nz-input formControlName="username" id="username" placeholder="Username"
                required />
            </nz-form-control>
          </nz-form-item>

          <label nzFor="username">Password :</label>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <input nzSize="large" type="password" nz-input formControlName="password" id="password"
                placeholder="Password" />
            </nz-form-control>
          </nz-form-item>

        </div>
        <nz-divider></nz-divider>
        <div class='sign-in-div' nz-row>
          <div nz-col nzSpan="1"></div>
          <div nz-col nzSpan="22">
            <button nzBlock nz-button nzType="primary" class="login-form-button" nzShape="round" [nzLoading]="isLogin">
              <i nz-icon nzType="login" nzTheme="outline"></i>
              Sign In
            </button>

            <!-- <a hidden [routerLink]="['/','register']" class="rem-header"> New User? Sign Up...</a> -->
          </div>
          <div nz-col nzSpan="1"></div>
        </div>
      </form>

    </div>
    <div nz-col nzSpan="7"></div>
  </div>


  <app-footer class="footer"></app-footer>
</nz-content>