span{
    padding-bottom: 10px;
}

.head-card{
    width:95%;
    height: 80px;
    font-family: raleway;
    font-size: 18px;
    background: whitesmoke;
    border-radius: 5px;
    margin: auto;
}

.date-span{
    float:right;
    font-size: 14px;
    font-style: oblique;
}