<nz-content>
    <nz-card class="head-card">
        <div class="head-two">
            <nz-avatar nzIcon="user" nzSrc="../../../assets/icons/person.png"></nz-avatar>
            Welcome, {{user.firstname}}&nbsp;{{user.surname}}
            <span class="date-span">
                <app-clock></app-clock>
            </span>
        </div>
    </nz-card> <br>

    <nz-divider></nz-divider>

    <div style="padding-left: 2%;" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
                <div class="card-div" [routerLink]="['/','admin-home','newstaff']">
                    <div class="card-div-header">
                        <div style="padding: 10px; height: 100%;">
                            <i nz-icon nzType="user-add" nzTheme="outline"></i>&nbsp;<span
                                style="font-weight: bold;">Add
                                Staff</span>
                        </div>
                    </div>
                    <div class="card-div-body">
                        Add a new employee ...
                    </div>
                    <div class=" card-div-footer"></div>
                </div>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
                <div class="card-div" [routerLink]="['/','admin-home','manage-staff']">
                    <div class="card-div-header">
                        <div style="padding: 10px; height: 100%;">
                            <i nz-icon nzType="user-switch" nzTheme="outline"></i>&nbsp;<span
                                style="font-weight: bold;">Manage Staff</span>
                        </div>
                    </div>
                    <div class="card-div-body">
                        Manage employee details here ...
                    </div>
                    <div class=" card-div-footer"></div>
                </div>

            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
                <div class="card-div">
                    <div class="card-div-header">
                        <div style="padding: 10px; height: 100%;">
                            <i nz-icon nzType="file-text" nzTheme="outline"></i>&nbsp;<span
                                style="font-weight: bold;">Reports</span>
                        </div>
                    </div>
                    <div class="card-div-body">
                        View & Download Reports ...
                    </div>
                    <div class=" card-div-footer"></div>
                </div>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzSpan]="6">
            <div class="inner-box">
                <div class="card-div">
                    <div class="card-div-header">
                        <div style="padding: 10px; height: 100%;">
                            <i nz-icon nzType="appstore" nzTheme="outline"></i>&nbsp;<span
                                style="font-weight: bold;">Goods</span>
                        </div>
                    </div>
                    <div class="card-div-body">
                        Products & Categories
                    </div>
                    <div class=" card-div-footer"></div>
                </div>
            </div>
        </div>

    </div>



    <!-- <div class="main-part" nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
            <div class="cpanel">
                <div class="icon-part">
                    <fa-icon [pulse]="false" [icon]='faBook'></fa-icon><br><br>
                    <span>Reports</span>
                </div>
            </div>
        </div>

        <div class="main-part" [routerLink]="['/','admin-home','newstaff']" nz-col [nzXs]="{ span: 11, offset: 1 }"
            [nzLg]="{ span: 6, offset: 2 }">
            <div class="cpanel">
                <div class="icon-part">
                    <fa-icon [pulse]="false" [icon]='faUserPlus'></fa-icon><br><br>
                    <span>Add New Employee</span>
                </div>
            </div>
        </div>
        <div [routerLink]="['/','admin-home','manage-staff']" class="main-part" nz-col [nzXs]="{ span: 5, offset: 1 }"
            [nzLg]="{ span: 6, offset: 2 }">
            <div class="cpanel">
                <div class="icon-part">
                    <fa-icon [pulse]="false" [icon]='faUsersCog'></fa-icon><br><br>
                    <span>Manage Employees</span>
                </div>
            </div>
        </div> -->


</nz-content>