.main-part {
    margin: 0 auto;
    text-align: center;
    padding: 0px 5px;
    border-radius: 25px;
}

.cpanel {
    display: inline-block;
    width: 100%;
    background-color: #34495E;
    color: #fff;
    border-radius: 25px;

}

.icon-part fa-icon {
    font-size: 30px;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    margin-top: -15px;
    margin-bottom: 15px;
    background-color: #34495E;
}

.icon-part span {
    margin: 0px;
    font-size: 20px;
    padding-bottom: 10px;
    font-family: raleway;
}

span {
    padding-bottom: 10px;
}

.head-card {
    width: 95%;
    height: 80px;
    font-family: roboto;
    font-size: 18px;
    background: rgb(190, 190, 190);
    border-radius: 5px;
    margin: auto;
}

.date-span {
    float: right;
}

.head-two {
    height: inherit;
}


.card-div {
    border: 1px solid #d9d9d9;
    width: 250px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
}

.card-div:hover{
    background:#d9d9d9;

}

.card-div-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #dddddd;
    height: 18px;
    border-top: 1px dashed whitesmoke;
}

.card-div-header {
    font-family: Raleway;
    height: 100%;
    overflow: auto;
    border-bottom: 1px dashed black;
}

.card-div-body {
    padding: 20px;
}

hr {
    background: whitesmoke
}

nz-avatar{
    padding: 5px;
    border: 1px solid white
}