.question-card {
  width: 100%;
}

.question-header {
  background-color: #f0f2f5;
  padding: 12px;
  border-bottom: 1px solid #d9d9d9;
}

.question-number {
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

.question-content {
  padding: 16px;
}

.question {
  font-family: Poppins, sans-serif;
}

.options {
  margin-top: 12px;
  margin-bottom: 12px;
}

.option {
  font-family: Poppins, sans-serif;
  /* margin-left: 1em; */
  display: flex;
  margin-bottom: 12px;
}

.option > input {
  margin-right: 1em;
}

.btn-row {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

::ng-deep .ant-divider-inner-text {
  color: #333;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  text-transform: none;
  vertical-align: 0.13em;
}

.title-div {
  justify-content: space-between;
  display: inline-flex;
  margin-bottom: 1.5em;
}
