<div *ngIf="spin_load === true" nz-row>
    <app-header style="width: 100%;"></app-header>
    <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="All Customers">
    </nz-page-header>
    <div nz-col nzSpan="0">
        
    </div>
    <div class="spin-div" style="display: flex; justify-content: center;"nz-col nzSpan="24">
        <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
        <nz-spin nzTip="Loadin din din Loading..." [nzSize]="'large'" nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
    </div>
    <div nz-col nzSpan="0">
        
    </div>
</div>

<div *ngIf="spin_load === false">
    <app-header></app-header>

    <div class="inner-content">
        <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="All Customers">
        </nz-page-header>

        <nz-divider></nz-divider>
        <div nz-row class="body-all">
            <div nz-col nzSpan="3"></div>

            <div class="main-holder" nz-col nzSpan="18" nzJustify="space-around" nzAlign="middle">
                <div *ngIf="response_load == false">
                    <nz-empty></nz-empty>
                </div>

                <div *ngIf="response_load == true">
                    <nz-card [nzBordered]="false" [nzTitle]="titleTemplate">
                        <ng-template class="titleTemplate" #titleTemplate>
                            Customers
                        </ng-template>
                        <div nz-row>
                            <div class="legend-wrap"nz-col nzSpan="">
                                <span class="bold">Legend: </span>&nbsp;
                                <span class="legend-reject"></span>
                                <span class="bold">&nbsp;In Debt</span>
                                &nbsp;&nbsp;&nbsp;
                                <span class="legend-okay"></span>
                                <span class="bold underl">&nbsp;No Debt</span>
                            </div>
                            <div nz-col nzSpan="17"></div>
                          </div><br>
                        <nz-table style="background: whitesmoke; border-radius: 5px;" #basicTable [nzData]="loaded_customers">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Name</th>
                                    <th>Phone <br>Number</th>
                                    <th>Address</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let data of loaded_customers" [ngClass]="{customer_debt: data.credit_status === 'DEBT'}">
                                    <td (click)="viewModal(profileContent,data)">
                                        <nz-avatar [nzText]="backend.doAvatar(data.firstname, data.surname)" nzSize="large"
                                        style="font-family:raleway; font-weight: 500; color:white; background-color:olive;vertical-align: middle;"></nz-avatar>
                           
                                    </td>
                                    <td (click)="viewModal(profileContent,data)" nz-tooltip
                                        nzTooltipTitle="View {{data.firstname}}&nbsp;{{data.surname}}'s Profile">
                                        {{data.firstname}}&nbsp;{{data.surname}}</td>
                                    <td (click)="viewModal(profileContent,data)" nz-tooltip
                                        nzTooltipTitle="View {{data.firstname}}&nbsp;{{data.surname}}'s Profile">{{
                                        data.phone }}</td>
                                    <td (click)="viewModal(profileContent,data)" nz-tooltip
                                        nzTooltipTitle="View {{data.firstname}}&nbsp;{{data.surname}}'s Profile">{{
                                        data.address }}</td>
                                    <td>
                                        <nz-divider nzType="vertical"></nz-divider>
                                        <a>Edit</a>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </nz-card>


                </div>



            </div>

            <div nz-col nzSpan="3"></div>

        </div>
       
    </div>


    <ng-template #profileContent let-params>
        <div nz-row>
            <div style="display: flex; justify-content: center;" nz-col nzSpan='12'>
                <img class="profile-picture" src={{imgSource}} alt="">
            </div>
            <!-- /* name, username, phone, gender, email -->
            <div nz-col nzSpan='12'>
                <span class="profile-span"><span class="label">
                        <fa-icon [icon]="faAddressBook"></fa-icon>
                    </span> {{params.data.firstname}} <span
                        *ngIf='params.data.surname'>{{params.data.middlename}}</span> {{params.data.surname}}</span>
                <span class="profile-span"><span class="label">
                        <fa-icon [icon]="faUserCircle"></fa-icon>
                    </span> {{params.data.username}}</span>
                <span class="profile-span"><span class="label">
                        <fa-icon [icon]="faPhone"></fa-icon>
                    </span> {{params.data.phone}}</span>
                <span class="profile-span"><span class="label">
                        <fa-icon [icon]="faMailBulk"></fa-icon>
                    </span> {{params.data.email}}</span>
            </div>
        </div>

        <!-- <div nz-row class="name-row  ">
                <div nz-col nzSpan="2"></div>
                <div nz-col nzSpan="20">
                    <p > {{params.data.firstname}} <span *ngIf='params.data.surname'>{{params.data.middlename}}</span> {{params.data.surname}}</p>
                </div>
                <div nz-col nzSpan="2"></div>
                <span>{{params.data.gender === 'male' ? faMale : faFemale}}</span> 
            </div> -->
    </ng-template>

    
</div>