.inner-content {
    padding: 28px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: whitesmoke;
}

.site-page-header {
    width: 95%;
    height: 80px;
    font-family: roboto;
    font-size: 18px;
    background: rgb(227, 225, 225);
    border-radius: 5px;
    margin: auto;
}