.head-card{
    width:95%;
    height: 80px;
    font-family: raleway;
    font-size: 18px;
    background: whitesmoke;
    border-radius: 5px;
    margin: auto;
}

.date-span{
    float:right;
    font-size: 14px;
    font-style: oblique;
}

.container{
    margin: auto;
    width: 95%;
    padding:10px;
}

.avatar-row{
    height: 100px;
}

.user-avatar{
    border: 1px solid blue;
    border-radius: 50%;
    margin: auto;
    float: right;
}

.normal-button{
        font-family: raleway;
        font-size: 18px;
        /* move button to bottom of div*/
}
.change-button{
    font-family: raleway;
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    margin-left: 15px;
    /* move button to bottom of div*/
}

.upload-button{
    font-family: raleway;
    font-size: 18px;
    position: absolute;
    bottom: 0px;
    margin-left: 250px;
    /* move button to bottom of div*/
}
.profile-div {
    font-family: raleway;
    width: 90%;
    margin-left: 10%;
}


nz-form-label{
    font-family: raleway;
    font-size: 22px;
    font-weight: bold;
}

.buttons-row{
    margin-top: 20px;
    display: flex;
    justify-content: right;
    width: 90%;
}

form{
    width: 100%;
}